# Filesystem Related
*.DS_Store

# Racket related
compiled
.\#*
\#*
*~

# Database files
*.db

# Test Output Files
test/outputs/

# Test Debug File
test/debug-testing.rkt
test/debug/debug-testing.rkt

# Docs Output
doc/*
!doc/docs.scbl
